{% extends "cp/base" %}
{% block title %}Gorodkamer | Проект "Безопасный город" | Личный кабинет{% endblock %}
{% block content %}
<!-- define content row -->
<div class="content-spliter">
<section id="content-main" class="content-main content-main-md">

<!-- your app content -->
<div class="content-app fixed-header">

<!-- app body -->
<div class="app-body">

<!-- app content here -->
<div class="magic-layout" data-cols="4">
    <div class="panel panel-default magic-element">
        <a href="#" class="panel-body-heading full-line">
            <div class="pb-object pb-object-circle">
                <i class="pbo-icon icon ion-ios7-plus-empty"></i>
            </div><!-- /pb-object -->
            <h3 class="pb-title ">
                <!--<span class="text-info">278</span> <small>New Users</small>-->
            </h3><!-- /pb-title -->
                                        <span class="pb-watermark">
                                            <i class="icon ion-ios7-personadd-outline"></i>
                                        </span><!-- /pb-watermark -->
        </a><!-- /panel-body-heading -->
    </div><!-- /panel -->

    <div class="panel panel-default magic-element">
        <a href="#" class="panel-body-heading full-line">
            <div class="pb-object pb-object-circle">
                <i class="pbo-icon icon ion-ios7-arrow-thin-up"></i>
            </div><!-- /pb-object -->
            <h3 class="pb-title ">
                <!--<span class="text-success">2,987,433</span> <small>Visits</small>-->
            </h3><!-- /pb-title -->
                                        <span class="pb-watermark">
                                            <i class="icon ion-ios7-star-outline"></i>
                                        </span><!-- /pb-watermark -->
        </a><!-- /panel-body-heading -->
    </div><!-- /panel -->

    <div class="panel panel-default magic-element">
        <a href="#" class="panel-body-heading full-line">
            <div class="pb-object pb-object-circle">
                <i class="pbo-icon icon ion-arrow-graph-up-right"></i>
            </div><!-- /pb-object -->
            <h3 class="pb-title ">
                <!--<span class="text-warning">6,382</span> <small>Orders</small>-->
            </h3><!-- /pb-title -->
                                        <span class="pb-watermark">
                                            <i class="icon ion-ios7-cart-outline"></i>
                                        </span><!-- /pb-watermark -->
        </a><!-- /panel-body-heading -->
    </div><!-- /panel -->

    <div class="panel panel-default magic-element">
        <a href="#" class="panel-body-heading full-line">
            <div class="pb-object pb-object-circle">
                <i class="pbo-icon icon ion-ios7-pricetag-outline"></i>
            </div><!-- /pb-object -->
            <h3 class="pb-title">
                <!--<span class="text-danger">876K</span> <small>Revenue</small>-->
            </h3><!-- /pb-title -->
                                        <span class="pb-watermark">
                                            <i class="icon ion-bag"></i>
                                        </span><!-- /pb-watermark -->
        </a><!-- /panel-body-heading -->
    </div><!-- /panel -->
</div><!-- /magic-layout -->

<div class="magic-layout">

<div class="panel panel-default magic-element">
    <div class="panel-body-heading">
        <h3 class="pb-title" id="title">Камеры</h3><!-- /pb-title -->
    </div><!-- /panel-body-heading -->
    <div class="panel-body">
        <div id="player_container">
            <div id="player" align="center">
                <p align="center">Пожалуйста подождите ... </p>
            </div>
        </div>
    </div><!-- /panel-body -->
</div><!-- /panel -->

<div class="panel panel-default magic-element">
<div class="panel-heading">
    <h3 class="pb-title">
        Свежие новости
    </h3><!-- /pb-title -->
</div>
<!-- tab-content -->
<div class="tab-content list-group">
<!-- group recent posts -->
<div class="tab-pane fade in active" id="recent-posts">
    {% for item in news %}
    <li class="list-group-item">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="/st/news/54x54/{{ item.id }}.png" alt="">
            </a><!-- /media-object -->
            <div class="media-body">
                <h3 class="media-heading"><a href="/news/sp/{{ item.id }}"  >{{ item.title }}</a></h3>
                <div class="text-bold text-muted">
                    <i class="icon ion-person"></i>
                    <small>{{ item.owner.first_name }} {{ item.owner.last_name }}</small>
                    &nbsp;&nbsp;&nbsp;
                    <i class="icon ion-ios7-clock-outline"></i>
                    <small>{{ item.date|date:'Y'}}-{{ item.date|date:'m'}}-{{ item.date|date:'d'}}</small>
                </div>
            </div><!-- /media-body -->
        </div><!-- /media -->
    </li><!-- /list-group-item -->
    {% endfor %}
</div><!-- /tab-pane recent post -->

</div><!-- /list-group tab-content -->
</div><!-- /panel recent reports -->

</div><!-- /magic-layout #2 -->


</div><!-- /app body -->
</div><!-- /content app -->

</section><!-- /content main -->
<section id="content-aside" class="content-aside open">
    <!-- your module content -->
    <div class="content-module fixed-header">
        <!-- module header -->
        <div class="module-header">
            <h3 class="module-title">
                <i class="icon ion-ios7-videocam-outline"></i> Камеры
            </h3>
        </div><!-- /module header -->

        <!-- module body -->
        <div class="module-body">

            <!-- app module here -->
            <!-- chat module -->
            <div id="cams_list" class="chats-module">
                <div class="cm-contact">
                    <div id="fav_cam" class="panel panel-default magic-element">
                        <div class="panel-heading">
                            <div class="panel-actions">
                                <div class="btn-group btn-group-xs">
                                    <a role="button" data-collapse="#fav_cam" title="collapse" class="btn btn-sm btn-default">
                                        <i class="icon ion-chevron-down"></i>
                                    </a>
                                </div>
                            </div><!-- /panel-actions -->
                            <h3 class="panel-title">Избранные камеры</h3>
                        </div>
                        <div class="panel-body">
                            {% if cams %}
                            {% for item in cams %}
                            <a href="#" class="cm-contact-item cam-item" data-cam-id="{{ item.id }}" data-cam-name="{{ item.address }}->{{ item.direct }}">
                                <div class="cmci-avatar">
                                    <span class="glyphicon glyphicon-play-circle"></span>
                                </div>
                                <p class="cmci-name">{{ item.address }} <small>{{ item.direct }}</small></p>
                            </a>
                            {% endfor %}
                            {% else %}
                                <p class="text-muted">У вас нет избранных камер.</p>
                            {% endif %}
                        </div>
                    </div><!-- /panel-default -->
                    <div id="main_cam" class="panel panel-default magic-element">
                        <div class="panel-heading">
                            <div class="panel-actions">
                                <div class="btn-group btn-group-xs">
                                    <a role="button" data-collapse="#main_cam" title="collapse" class="btn btn-sm btn-default">
                                        <i class="icon ion-chevron-down"></i>
                                    </a>
                                </div>
                            </div><!-- /panel-actions -->
                            <h3 class="panel-title">Подключенные камеры</h3>
                        </div>
                        <div class="panel-body">
                            {% if mcams %}
                            {% for item in mcams %}
                            <a href="#" class="cm-contact-item cam-item" data-cam-id="{{ item.id }}">
                                <p class="cmci-name">{{ item.address }} <small>{{ item.direct }}</small></p>
                            </a>
                            {% endfor %}
                            {% else %}
                            <p class="text-muted">У вас нет подключенных камер.</p>
                            {% endif %}
                        </div>
                    </div><!-- /panel-default -->
                </div><!-- /chat module contact -->
            </div><!-- /chat module -->

        </div><!-- /module content -->
    </div><!-- /content module -->
</section><!-- /content asside -->
</div>
<!-- /content spliter -->
{% endblock %}

