{% url 'gk.views.index' as index %}
{% url 'gk.views.logoutv' as logout %}
{% url 'gk.views.ads' as ads %}
{% url 'gk.views.about' as about %}
{% url 'gk.views.contacts' as contacts %}
{% url 'cp.views.index' as cp %}
{% url 'news.views.index' as news %}

<nav class="side-nav">
    <ul>
        <li class="side-nav-item {% if path == index %} active{% endif %}">
            <a href="{% url 'gk.views.index' %}">
                <i class="nav-item-icon icon ion-home"></i>
                Главная
            </a>
        </li>
        <!-- /main -->
        <li class="side-nav-item {% if path == about %} active{% endif %}">
            <a href="{% url 'gk.views.about' %}">
                <i class="nav-item-icon icon icon ion-ios7-information-outline"></i>
                О нас
            </a>
        </li>
        <!-- /about -->
        <li class="side-nav-item">
            <a href="#ads">
                <i class="nav-item-caret"></i>
                <i class="nav-item-icon icon ion-ios7-star-outline"></i>
                Наши услуги
            </a>
            <ul id="ads" class="side-nav-child{% if path == ads %} open{% endif %}">
                <li class="side-nav-item-heading">
                    <a href="#" class="side-nav-back">
                        <i class="nav-item-caret"></i>
                        Наши услуги
                    </a>
                </li><!-- /header layouts child -->
                <li class="side-nav-item{% if path == ads %} active{% endif %}">
                    <a href="{% url 'gk.views.ads' %}">
                        <i class="nav-item-icon icon ion-ios7-bolt-outline"></i>
                        Реклама на сайте
                    </a>
                </li><!-- /ads -->
            </ul><!-- /layouts child -->
        </li><!-- /layout -->
        <!-- /our service -->
        <li class="side-nav-item{% if path == contacts %} active{% endif %}">
            <a href="{% url 'gk.views.contacts' %}">
                <i class="nav-item-icon icon ion-ios7-email-outline"></i>
                Контакты
            </a>
        </li>
        <!-- /contacts -->
        <li class="side-nav-item {% if path == news %} active{% endif %}">
            <a href="{% url 'news.views.index' %}">
                <i class="nav-item-icon icon ion-ios7-chatbubble-outline"></i>
                Новости Подмосковья
            </a>
        </li>
        <!-- /news -->
        {% if user.is_authenticated %}
        <li class="side-nav-item {% if path == cp %} active{% endif %}">
            <a href="{% url 'cp.views.index' %}">
                <i class="nav-item-icon icon ion-ios7-locked-outline"></i>
                Личный кабинет
            </a>
        </li>
        <!-- /ui -->
        <li class="side-nav-item {% if path == logout %} active{% endif %}">
            <a href="{% url 'gk.views.logoutv' %}">
                <i class="nav-item-icon icon ion-log-out"></i>
                Выйти из системы
            </a>
        </li>
        <!-- /ui -->
        {% else %}
        <li class="side-nav-item">
            <a href="#" data-toggle="modal" data-target="#sign_in_modal">
                <i class="nav-item-icon icon ion-log-in"></i>
                Войти в систему
            </a>
        </li>
        <!-- /login -->
        <li class="side-nav-item">
            <a href="#" data-toggle="modal" data-target="#reg_modal">
                <i class="nav-item-icon icon ion-ios7-personadd-outline"></i>
                Регистрация
            </a>
        </li>
        <!-- /reg -->
        {% endif %}
    </ul>
    <!-- /nav ul-->
</nav><!-- /nav -->