{% extends "base" %}
{% load webdesign %}
{% block pagetitle %}Новости Подмосковья на портале «Город камер»{% endblock %}
{% block title %}Город камер | Новости Подмосковья | Проект «Безопасный город»{% endblock %}
{% block yaParams %}Новости Подмосковья{% endblock %}
{% block ogtitle %}Город камер | Новости Подмосковья | Проект «Безопасный город»{% endblock %}
{% block description %}Новости Подмосковья на портале Город камер. Проект программы «Безопасный город».{% endblock %}
{% block keywords %}новости подмосковья, новости подмосковья на городе камер, Подмосковье, Жуковский, Раменское, Балашиха, Павловский посад, Электросталь, Ногинск {% endblock %}
{% block toggleaside %}
<div class="header-actions pull-right">
    <a id="toggle-aside" class="btn btn-icon" role="button"><i class="icon ion-navicon-round"></i></a>
</div><!-- /header actions -->
{% endblock %}
<!-- Individual scripts for page -->
{% block scripts %}
<script src="/st/cp/bootstrap-paginator/bootstrap-paginator.js"></script>
<!-- VK -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
<script type="text/javascript">
    VK.init({apiId: 4163448, onlyWidgets: true});
</script>
<!--VK end-->
<script src="/st/cp/jquery-prettyPhoto/js/jquery.prettyPhoto.js"></script>
<script src="/st/cp/app/js/news.js"></script>

{% if request.path != '/news/' %}
<script>
    jQuery(document).ready(function () {
        var options = {
            currentPage: {{ news.number }},
            pageUrl: function(type, page, current){
                return "/news/page/"+page +"/";
            },
            onPageClicked: function(e,originalEvent,type,page){
                e.stopImmediatePropagation();
            },
            bootstrapMajorVersion: 3,
            numberOfPages:3,
            totalPages: {{ news.paginator.num_pages }}
        }
        jQuery('#news_paginator').bootstrapPaginator(options);
    })
</script>
{% endif %}
{% endblock %}
{% block content %}
            <!-- app body -->
            <div class="app-body">
                <!-- app content here -->
                <div class="magic-layout"><!-- /magic layout -->
                    {% for item in news %}
                    <div class="panel panel-default magic-element width-full">
                        {% if item.city %}
                        <div class="panel-heading">
                            <div class="panel-icon"><img src="/st/img/citylogo/{{ item.city.id }}.png" height="30px"></div>
                            <h3 class="panel-title">{{ item.city }}</h3>
                        </div>
                        {% endif %}
                        {% if forloop.first %}
                        <div class="kits-media col-md-3" style="padding: 10px">
                            <div class="post-image">
                                <a href="/st/news/{{ item.id }}.png" data-rel="prettyPhoto" alt="{{ item.title }}" title="{{ item.title }}">
                                    <span class="img-hover"></span>
                                    <span class="fullscreen"><i class="icon ion-search"></i></span>
                                    <img itemprop="image" src="/st/news/{{ item.id }}.png" alt="{{ item.title }}" title="{{ item.title }}" width="100%" itemprop="contentUrl">
                                    <meta itemprop="description" content="{{ item.title }}">
                                    <meta itemprop="name" content="{{ item.title }}">
                                </a>
                            </div>
                        </div><!-- /kits-media -->
                        {% endif %}
                        <div class="panel-body">
                            <div class="todo-list">
                                <div class="label label-success">{{ item.date|date:"d-m-Y" }}</div>
                                <h4 class="todo-text">{{ item.title }}</h4>
                            </div>
                            {% autoescape off %}
                            {{ item.text|striptags|truncatewords:36 }}
                            {% endautoescape %}
                        </div><!-- /panel-body -->
                        <div class="panel-footer">
                            <a href="/news/sp/{{ item.id }}/" class="btn btn-ion btn-primary pull-right">Читать далее</a>
                            <a href="#" class="btn btn-ion btn-primary" disabled="disabled"><i class="icon ion-social-facebook"></i></a>
                            <a href="#" class="btn btn-ion btn-info" disabled="disabled"><i class="icon ion-social-twitter"></i></a>
                            <a href="#" class="btn btn-ion btn-danger" disabled="disabled"><i class="icon ion-social-googleplus"></i></a>
                        </div><!-- /panel-footer -->
                    </div>
                    {% endfor %}

                    {% if request.path != '/news/' %}
                    <div class="panel panel-default magic-element width-full text-center">
                        <ul id="news_paginator"></ul>
                    </div>
                    {% else %}
                    <div class="panel panel-default magic-element width-full">
                        <a href="/news/page/1/" class="btn btn-primary btn-lg btn-block">Показать все новости</a>
                    </div>
                    {% endif %}
                </div><!-- /magic layout -->
            </div><!-- /app body -->
        </div><!-- /content app -->
    </section><!-- /content main -->
    <section id="content-aside" class="content-aside">
        <!-- your module content -->
        <div class="content-module fixed-header">
            <!-- module header -->
            <div class="module-header">
                <h3 class="module-title">
                    Последние новости
                </h3>
            </div><!-- /module header -->
            <!-- module body -->
            <div class="module-body">
                <!-- app module here -->
                <div class="panel panel-default magic-element" style="margin:10px">
                    <div class="panel-body category">
                        <h3 class="title">Категории</h3>
                        <form action="/news/filter/" method="post" style="margin-top: 15px">
                            {% csrf_token %}
                            <input type="hidden" name="category">
                            {% load recurse %}
                            {% recurse cat.categoryitem_set.all with cats as cat %}
                            <ul class="tree" style="padding:0px 0px 10px 0px;list-style-type:none;{% if level %}margin-left: 38px;display:none;{% endif %}">
                                {% loop %}
                                <li style="content: normal">
                                    {% if childexist %}<i class="icon ion-plus tree-toggle tree-close" style="cursor:pointer;margin-right:5px"></i>{% endif %}
                                    <input type="checkbox" value="{{ cat.id }}" style="margin-right:5px"><a class="tree-item" href="#">{{ cat.name }}</a>
                                    {% child %}
                                </li>
                                {% endloop %}
                            </ul>
                            {% endrecurse %}
                            <button type="submit" class="btn btn-color">Фильтр</button>
                        </form>
                    </div>
                </div>
            </div><!-- /module body -->
        </div><!-- /content module -->
    </section><!-- /content asside -->
{% endblock %}