{% extends "base" %}
{% block pagetitle %}Новостной заголовок{% endblock %}
{% block title %}{{ news.title}}{% endblock %}
{% block yaParams %}Новостная запись{% endblock %}
{% block ogtitle %}{{ news.title}}{% endblock %}
{% block description %}Новости Подмосковья на портале Город камер. Проект программы «Безопасный город»{% endblock %}
{% block keywords %}новости подмосковья, город камер, {% for item in news.category.all %}{{ item }}, {% endfor %}{% for item in news.tags.all %}{% if forloop.last %}{{ item }}{% else %}{{ item }}, {% endif %}{% endfor %}{% endblock %}
{% block toggleaside %}
<div class="header-actions pull-right">
    <a id="toggle-aside" class="btn btn-icon" role="button"><i class="icon ion-navicon-round"></i></a>
</div><!-- /header actions -->
{% endblock %}
<!-- Individual scripts for page -->
{% block scripts %}
<!-- VK -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
<script type="text/javascript">
    VK.init({apiId: 4163448, onlyWidgets: true});
</script>
<!--VK end-->
<script src="/st/cp/jquery-prettyPhoto/js/jquery.prettyPhoto.js"></script>
<script src="/st/cp/app/js/news.js"></script>
{% if perms.news.change_news %}
<script src="/st/cp/tinymce/tinymce.min.js"></script>
<script>
    jQuery(document).ready(function($){
        //textarea
        tinymce.init({
            selector:"textarea[name='edit_news_content']",
            body_id: "post_content",
            height : 330,
            language : "ru",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code"
        });

        //Tags input
        $('#news_tags').tagsInput({
            height: "32px",
            width:'auto',           // support percent (90%)
            defaultText: 'Метка'
        });
        //select2
        $(".select2").select2();
        //date & time picker
        $('#news_time').datetimepicker({
            icons : {
                time: 'icon ion-ios7-clock-outline',
                date: 'icon ion-ios7-calendar-outline',
                up:   'icon ion-ios7-arrow-up',
                down: 'icon ion-ios7-arrow-down'
            },
            language: 'ru',
            pickDate: false
        });
        $('#news_date').datetimepicker({
            icons : {
                time: 'icon ion-ios7-clock-outline',
                date: 'icon ion-ios7-calendar-outline',
                up:   'icon ion-ios7-arrow-up',
                down: 'icon ion-ios7-arrow-down'
            },
            language: 'ru',
            pickTime: false
        });
        $('#edit-news').click(function(){
            $('#news').hide();
            $('#edit_news').show();
            $('.magic-layout').isotope('reLayout');
        });

        $('#edit_news_cancel').click(function(){
            $('#news').show();
            $('#edit_news').hide();
            $('.magic-layout').isotope('reLayout');
        });

        //Replace news priority
        var priority = $('#edit_news_form').find('#edit_news_priority'),
                value = priority.val();

        value = value.replace(",",".");
        priority.val(value);
    })
</script>
{% endif %}
{% endblock %}
{% block content %}
{% load recurse %}
<!-- app body -->
<div class="app-body">
    <!-- app content here -->
    <div class="magic-layout" id="news"><!-- /magic layout -->
        <div class="panel panel-default magic-element width-full">
            <div class="panel-heading">
                {% if news.city %}
                <div class="panel-icon {% if not news.city %}hide{% endif %}"><img src="/st/img/citylogo/{{ news.city.id }}.png" height="30px"></div>
                {% endif %}
                <div class="panel-actions">
                    <a href="#" class="btn btn-ion btn-success" disabled="disabled"><i class="icon ion-pound"></i>
                        {% for item in news.tags.all %}
                        {% if forloop.last %}
                        {{ item }}
                        {% else %}
                        {{ item }},
                        {% endif %}
                        {% endfor %}
                    </a>
                    {% if perms.news.change_news %} <a href="#" class="btn btn-ion btn-danger" id="edit-news"><i class="icon ion-compose"></i>Редактировать</a>{% endif %}
                    <a href="#" class="btn btn-ion btn-primary" disabled="disabled"><i class="icon ion-social-facebook"></i></a>
                    <a href="#" class="btn btn-ion btn-info" disabled="disabled"><i class="icon ion-social-twitter"></i></a>
                    <a href="#" class="btn btn-ion btn-danger" disabled="disabled"><i class="icon ion-social-googleplus"></i></a>
                </div><!-- /panel-actions -->
                <h3 class="panel-title" {% if not news.city %} style="margin-bottom: 20px;"{% endif %}>{% if news.city %}{{ news.city.name }}{% endif %}</h3>
            </div>
            <div class="kits-media col-md-3" style="padding: 10px;">
                <div class="post-image" style="margin-bottom:5px">
                    <a href="/st/news/{{ news.id }}.png" data-rel="prettyPhoto" alt="{{ news.title }}" title="{{ news.title }}">
                        <span class="img-hover"></span>
                        <span class="fullscreen"><i class="icon ion-search"></i></span>
                        <img itemprop="image" src="/st/news/{{ news.id }}.png" alt="{{ news.title }}" title="{{ news.title }}" width="100%" itemprop="contentUrl">
                        <meta itemprop="description" content="{{ news.title }}">
                        <meta itemprop="name" content="{{ news.title }}">
                    </a>
                </div><!-- /kits-media -->
            </div>
            <div class="panel-body">
                <div class="todo-list" style="padding: 10px">
                    <div class="label label-success">{{ news.date }}</div>
                    <h4 class="todo-text">{{ news.title }}</h4>
                    {% if news.photo_title %}
                    <small class="text-muted" style="margin-right:10px">Фото: {% autoescape off %}{{ news.photo_title }}{% endautoescape %} </small>
                    {% endif %}
                    {% if news.autor %}
                    <small class="text-muted" style="margin-right:10px">Автор текста: {{ news.autor }}</small>
                    {% endif %}
                    {% if news.origin %}
                    <small class="text-muted">Источник: </small><small>{% autoescape off %}{{ news.origin }}{% endautoescape %} </small>
                    {% endif %}
                </div>
                <p>
                    {% autoescape off %}
                    {{ news.text }}
                    {% endautoescape %}
                </p>
            </div>
            <!-- /panel-body -->

            <div class="panel-footer">
                <div id="carousel-text" class="carousel full-line slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="http://www.msk.etbank.ru/private/deposits/" target="_blank" title="Энерготрансбанк">
                                <img alt="Город Камер - Энерготрансбанк" src="/st/img/clientslogo/etb.png">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.kedrbor.ru/" target="_blank" title="Компания «Кедровый Бор">
                                <img alt="Город Камер - Компания «Кедровый Бор" src="/st/img/clientslogo/kedrbor.png">
                            </a>
                        </div>
                    </div><!-- /carousel-inner -->
                    <a class="left carousel-control" href="#carousel-text" data-slide="prev">
                        <span class="ion-prev icon ion-ios7-arrow-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-text" data-slide="next">
                        <span class="ion-next icon ion-ios7-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div><!-- /magic layout -->
    </div><!-- /app body -->
    {% if perms.news.change_news %}
    <!-- Edit news -->
    <div class="magic-layout" id="edit_news" style="display: none">
        <form id="edit_news_form" enctype="multipart/form-data" method="post" action="/news/admin/editnews/">
            <div class="panel panel-default magic-element width-full">
                <div class="panel-body">
                    {% csrf_token %}
                    <input type="hidden" name="edit_news_id" value="{{ news.id }}">
                    <div class="form-group">
                        <label for="edit_news_name">Заголовок</label>
                        <input type="text" class="form-control" id="edit_news_name" name="edit_news_name" placeholder="Заголовок" value="{{ news.title }}">
                    </div>
                    <div class="form-group">
                        <label for="edit_news_autor">Автор текста</label>
                        <input type="text" class="form-control" id="edit_news_autor" name="edit_news_autor" placeholder="Автор текста" value="{{ news.autor }}">
                    </div>
                    <div class="form-group">
                        <label for="edit_news_photo_autor">Автор фото</label>
                        <input type="text" class="form-control" id="edit_news_photo_autor" name="edit_news_photo_autor" placeholder="Автор фото" value="{{ news.photo_title }}">
                    </div>
                    <div class="form-group">
                        <label for="edit_news_origin">Ссылка на источник</label>
                        <input type="text" class="form-control" id="edit_news_origin" name="edit_news_origin" placeholder="Ссылка на источник" value="{{ news.origin }}">
                    </div>
                    <div class="form-group">
                        <label for="edit_news_date">Дата и время публикации <small>(YYYY-MM-DDThh:mm:ss)</small></label>
                        <input type="text" class="form-control" id="edit_news_date" name="edit_news_date" data-mask="9999-99-99T99:99:99" placeholder="Дата и время" value="{{ news.date }}">
                    </div>
                    <div class="form-group">
                        <label for="edit_news_priority">Поисковый вес новости {{ news.sweight|floatformat:1 }} <small>(От 0.60 до 0.69)</small></label>
                        <input type="text" class="form-control" id="edit_news_priority" name="edit_news_priority" placeholder="Поисковый вес новости" value="{{ news.sweight|default:'0.60' }}">
                    </div>
                    <div class="form-group">
                        <label for="edit_news_tags">Метки</label>
                        <input type="text" class="form-control" id="edit_news_tags" name="edit_news_tags" placeholder="Метки" value="{% for item in news.tags.all %}{% if forloop.last %}{{ item }}{% else %}{{ item }},{% endif %}{% endfor %}">
                    </div>
                    <div class="form-group">
                        <label for="edit_news_cat">Категории</label>
                        <!--<input type="text" class="form-control" id="news_cat" name="news_category" placeholder="Категории">-->
                        <select class="select2" id="edit_news_cat" name="edit_news_cat" style="width:100%" placeholder="Выберите категорию" multiple>
                            {% load recurse %}
                            {% recurse cat.categoryitem_set.all with cats as cat %}
                            {% loop %}
                            <option value="{{ cat.id }}" {% if cat in news.category.all %}selected{% endif %}>{% if level == 1 %}{% elif level == 2 %} - {% elif level == 2 %} -- {% else %} --- {% endif %}{% if cat.parent %} {{ cat.parent }} >> {% endif %}{{ cat.name }}</option>
                            {% child %}
                            </optgroup>
                            {% endloop %}
                            {% endrecurse %}
                        </select>
                    </div>
                    <!--<div class="form-group">
                        <label for="edit_news_city">Город</label>
                        <select class="select2" style="width:100%" id="edit_news_city" name="edit_news_city" placeholder="Выберите Город">
                            <option>Выберите Город</option>
                            {% for city in citys %}
                            <option value="{{ city.id }}" {% if news.city.id == city.id %}selected{% endif %}>{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </div>-->
                    <div class="form-group">
                        <label for="edit_news_logo">Миниатюра</label>
                        <div class="row">
                            <div class="col-xs-4" style="padding-left: 0">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group">
                                        <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                                                <span class="input-group-addon btn btn-default btn-file">
                                                                    <span class="fileinput-new">Выбрать</span>
                                                                    <span class="fileinput-exists">Изменить</span>
                                                                    <input type="file" id="edit_news_logo" name="edit_news_logo">
                                                                </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Удалить</a>
                                    </div>
                                </div><!-- /fileinput -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit_news_content">Текст Новости</label>
                        <textarea id="edit_news_content" name="edit_news_content">
                            {% autoescape off %}
                            {{ news.text }}
                            {% endautoescape %}
                        </textarea>
                    </div>
                </div>
                <!-- /panel-body -->

                <div class="panel-footer">
                    <button type="button" class="btn btn-primary btn-lg" id="edit_news_cancel">Отмена</button>
                    <button type="submit" class="btn btn-primary btn-lg">Изменить</button>
                </div>
            </div><!-- /magic layout -->
        </form>
    </div>
    <!-- /Edit news -->
    {% endif %}
</div><!-- /content app -->
</section><!-- /content main -->
<section id="content-aside" class="content-aside">
    <!-- your module content -->
    <div class="content-module fixed-header">
        <!-- module header -->
        <div class="module-header">
            <h3 class="module-title">
                Последние новости
            </h3>
        </div><!-- /module header -->
        <!-- module body -->
        <div class="module-body">
            <!-- app module here -->
            {% for news in lnews %}
            <div class="panel panel-default magic-element" style="margin:10px">
                <div class="panel-body">
                    <div class="kits-media">
                        <div class="post-image">
                            <a href="/st/news/{{ news.id }}.png" data-rel="prettyPhoto" alt="{{ news.title }}" title="{{ news.title }}">
                                <span class="img-hover"></span>
                                <span class="fullscreen"><i class="icon ion-search"></i></span>
                                <img itemprop="image" src="/st/news/{{ news.id }}.png" alt="{{ news.title }}" title="{{ news.title }}" width="100%" itemprop="contentUrl">
                                <meta itemprop="description" content="{{ news.title }}">
                                <meta itemprop="name" content="{{ news.title }}">
                            </a>
                        </div>
                    </div><!-- /kits-media -->
                    <div class="todo-list">
                        <div class="label label-success">{{ news.date|date:"d-m-Y" }}</div>
                    </div>
                    <div class="todo-text">
                        <a href="/news/sp/{{ news.id }}/">{{ news.title }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!-- /module body -->
    </div><!-- /content module -->
</section><!-- /content asside -->
{% endblock %}