{% extends "base" %}
{% block pagetitle %}О нас{% endblock %}
{% block title %}Город камер | О нас | Проект «Безопасный город»{% endblock %}
{% block yaParams %}О нас{% endblock %}
{% block ogtitle %}Город камер | О нас | Проект «Безопасный город»{% endblock %}
{% block description %}О портале Город камер. Проект программы «Безопасный город».{% endblock %}
{% block keywords %}о городе камер, информация о городе камер, город камер {% endblock %}
{% block content %}
<!-- app body -->
<div class="app-body">
    <!-- app content here -->
    <div class="magic-layout"><!-- /magic layout -->
        <div class="panel panel-default magic-element">
            <div class="bordered-smart"></div>
            <div class="panel-body">
                <div class="panel-body-heading">
                    <h2 class="box-heading">О портале</h2>
                </div>
                <dl class="dl-horizontal">
                    «Город камер» – медиапортал в рамках программы «Безопасный город» . На данный момент
                    партнёрами «Города камер» являются г. Жуковский, г. Раменское, г. Балашиха, г. Павловский
                    посад, г. Электросталь и г. Ногинск. В ходе проекта была разработана уникальная схема
                    слежения, предназначенная в целях безопасности и улучшения жизни населения Подмосковья.
                    В открытом доступе посетителям портала «Город камер» предоставлены данные специальных камер
                    видеонаблюдения, транслирующих сигнал в режиме реального времени, которые охватывают
                    территорию абсолютного большинства социальных учреждений: больниц, школ, детских садов,
                    центральных улиц, общественных мест. Форма взаимодействия «зритель/действующее лицо»
                    способствует сокращению преступности и хулиганства. Возможности и функции проекта «Город
                    камер» очень важны как для населения, так и для силовых структур.
                </dl>
            </div>
            <div class="panel-body">
                <div class="panel-body-heading">
                    <h2 class="box-heading">О нас</h2>
                </div>
                <dl class="dl-horizontal">
                    Наши офисы для каждого города оснащены профессиональными мониторами, а штат состоит из
                    специалистов, в чьи обязанности входит видеонаблюдение ситуации в режиме онлайн,
                    происходящей на закрепленной территории города. Это позволит предотвращать нарушения,
                    наносящие ущерб управляющим компаниям и партнёрам портала «Город камер», а так же жителям
                    Подмосковья. Наш опыт и наличие современных систем наблюдения и модернизированных схем
                    работы значительно повышают эффективность слежения и время реагирования на любую ситуацию.
                    С каждым часом «Город камер» набирает обороты. Ежедневно квалифицированные специалисты
                    выбирают наиболее подходящие районы для установки в каждый двор систем камер
                    видеонаблюдения. На каждый дом будет устанавливаться от 3 до 5 камер видеонаблюдения для
                    полного охвата прилегающей местности и по одному прибору слежения в каждый подъезд.
                </dl>
            </div>
            <div class="panel-body">
                <div class="panel-body-heading">
                    <h2 class="box-heading">Цели портала</h2>
                </div>
                <dl class="dl-horizontal">
                    Одна из главных целей медиапортала «Город камер» это предотвращение преступлений, которые
                    могли совершиться. Камеры несут угрожающий характер для правонарушителя. Даже на раннем
                    этапе совершения какого либо правонарушения или даже преступления, камера видеонаблюдения
                    заставит злоумышленника задуматься, стоит ли совершать это действие.
                    С помощью технических средств и уверенной работы наших специалистов, мы сделаем Вашу жизнь
                    комфортней и безопасней. Команда портала «Город камер» искренне надеется, что в ближайшее
                    время людям станет приятнее и спокойнее жить в их любимом городе.
                </dl>
            </div>
        </div>
        <div class="panel panel-default magic-element">
            <div class="bordered-smart"></div>
            <div class="panel-body">
                <div class="panel-body-heading">
                    <h3 class="pb-title">Контактная информация</h3>
                </div>
                <dl class="dl-horizontal">
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <meta itemprop="addressCountry" content="Россия">
                        <dt>Адрес</dt>
                        <dd><span itemprop="addressRegion">Московская область</span>,<span itemprop="addressLocality">Электросталь</span></dd>
                        <dd><span itemprop="streetAddress">Мира 18А</span></dd>
                        <dt>Телефон</dt>
                        <dd><span itemprop="telephone">+7(495)645 6036</span></dd>
                        <dt>Email</dt>
                        <dd><a href="mailto:gorodkamer@gmail.com"><span itemprop="email">gorodkamer@gmail.com</span></a></dd>
                    </span>
                </dl>
            </div>
        </div>
    </div><!-- /magic layout -->
</div><!-- /app body -->
</div><!-- /content app -->
</section><!-- /content main -->
{% endblock %}
