{% extends "base" %}
{% block pagetitle %}Реклама на портале «Город камер»{% endblock %}
{% block title %}Город камер | Реклама на портале | Проект «Безопасный город»{% endblock %}
{% block yaParams %}Реклама на портале{% endblock %}
{% block ogtitle %}Город камер | Реклама на портале | Проект «Безопасный город»{% endblock %}
{% block description %}Реклама на портале Город камер. Проект программы «Безопасный город».{% endblock %}
{% block keywords %}реклама на городе камер, реклама, рекламный блок, услуга, город камер{% endblock %}
{% block scripts %}
<script src="/st/cp/jquery-prettyPhoto/js/jquery.prettyPhoto.js"></script>
<!-- VK -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
<script type="text/javascript">VK.init({apiId: 4163448, onlyWidgets: true});</script>
<!--Twitter-->
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="/st/cp/app/js/adss.js"></script>
{% endblock %}
{% block content %}
        <!-- app body -->
        <div class="app-body">
            <!-- app content here -->
            <div class="magic-layout"><!-- /magic layout -->
                <div class="panel panel-default magic-element">
                    <div class="bordered-smart"></div>
                    <div class="panel-body">
                        <div class="panel-body-heading">
                            <h4>На данный момент мы можем предложить Вам рекламу на портале «Город Камер» на следующих страницах</h4>
                        </div>
                        <dl class="dl-horizontal">
                            <ul>
                                <li>верхний рекламный блок главной страницы, размер 1150х86</li>
                                <li>нижний рекламный блок главной страницы, размер 1150х86</li>
                                <li>реклама в видеопроигрывателе камер наблюдения</li>
                                <li>реклама Вашего предприятия на карте главной страницы</li>
                                <li>нижний рекламный блок на страницах новостей, размер 1150х86</li>
                                <li>Ниже Вы можете увидеть схемы размещения рекламы на главной странице портала и страницах новостей.</li>
                            </ul>
                            <div class="post-image">
                                <a href="/st/img/clientslogo/main.png" data-rel="prettyPhoto" alt="Реклама на портале «Город Камер»" title="Реклама на портале «Город Камер»">
                                    <span class="img-hover"></span>
                                    <span class="fullscreen"><i class="icon ion-search"></i></span>
                                    <img itemprop="image" src="/st/img/clientslogo/main.png" alt="Реклама на портале «Город Камер»" title="Реклама на портале «Город Камер»" width="100%" itemprop="contentUrl">
                                </a>
                            </div>
                            <div class="post-image">
                                <a href="/st/img/clientslogo/news.png" data-rel="prettyPhoto" alt="Реклама на портале «Город Камер»" title="Реклама на портале «Город Камер»">
                                    <span class="img-hover"></span>
                                    <span class="fullscreen"><i class="icon ion-search"></i></span>
                                    <img itemprop="image" src="/st/img/clientslogo/news.png" alt="Реклама на портале «Город Камер»" title="Реклама на портале «Город Камер»" width="100%" itemprop="contentUrl">
                                </a>
                            </div>
                            <h4>Для получения подробных ответов по вопросам размещения рекламы товаров или услуг на портале «Город камер», просим Вас писать на gorodkamer@gmail.com или звонить по телефону +7(495)645 6036</h4>

                            <blockquote class="pull-right">
                                <p>С уважением,</p>
                                <p>команда «Города Камер»</p>
                            </blockquote>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default magic-element">
                    <div class="bordered-smart"></div>
                    <div class="panel-body">
                        <div class="panel-body-heading">
                            <h3 class="pb-title">Контактная информация</h3>
                        </div>
                        <dl class="dl-horizontal">
                                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <meta itemprop="addressCountry" content="Россия">
                                    <dt>Адрес</dt>
                                    <dd><span itemprop="addressRegion">Московская область</span>,<span itemprop="addressLocality">Электросталь</span></dd>
                                    <dd><span itemprop="streetAddress">Мира 18А</span></dd>
                                    <dt>Телефон</dt>
                                    <dd><span itemprop="telephone">+7(495)645 6036</span></dd>
                                    <dt>Email</dt>
                                    <dd><a href="mailto:gorodkamer@gmail.com"><span itemprop="email">gorodkamer@gmail.com</span></a></dd>
                                </span>
                        </dl>
                    </div>
                </div>
                </div><!-- /magic layout -->
            </div><!-- /app body -->
        </div><!-- /content app -->
    </section><!-- /content main -->
{% endblock %}
