{% extends "base" %}
{% block pagetitle %}Контакты{% endblock %}
{% block title %}Город камер | Контакты | Проект «Безопасный город»{% endblock %}
{% block yaParams %}Контакты{% endblock %}
{% block ogtitle %}Город камер | Контакты | Проект «Безопасный город»{% endblock %}
{% block description %}Контакты портала Город камер. Проект программы «Безопасный город».{% endblock %}
{% block keywords %}контакты города камер, связь с городом камер, город камер{% endblock %}
{% block content %}
            <!-- app body -->
            <div class="app-body">
                <!-- app content here -->
                <div class="magic-layout"><!-- /magic layout -->
                    <div class="panel panel-default magic-element">
                        <div class="bordered-smart"></div>
                        <div class="panel-body">
                            <div class="panel-body-heading">
                                <h3 class="pb-title">Форма обратной связи</h3>
                            </div>
                        <form class="form-horizontal" role="form" method="post" class="reply" id="contact" action="/contacts/">
                            <fieldset>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="name">Имя:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-ion" id="name" name="name" placeholder="Имя" required>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="email">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-ion" id="email" name="email" placeholder="Email" required>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="subject">Цель обращения:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-ion" id="subject" name="subject" placeholder="Цель обращения" required>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="text">Сообщение:</label>
                                    <div class="col-sm-10">
                                        <textarea rows="3" class="form-control form-ion" id="text" name="text" required></textarea>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="reset" class="btn btn-primary btn-ion">Сброс</button>
                                        <button type="submit" class="btn btn-success btn-ion">Отправить</button>
                                    </div>
                                </div><!-- /form-group -->
                            </fieldset><!-- /fieldset -->
                        </form><!-- /form -->
                            </div>
                    </div><!-- /magic-element -->
                    <div class="panel panel-default magic-element">
                        <div class="bordered-smart"></div>
                        <div class="panel-body">
                            <div class="panel-body-heading">
                                <h3 class="pb-title">Контактная информация</h3>
                            </div>
                            <dl class="dl-horizontal">
                                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <meta itemprop="addressCountry" content="Россия">
                                    <dt>Адрес</dt>
                                    <dd><span itemprop="addressRegion">Московская область</span>,<span itemprop="addressLocality">Электросталь</span></dd>
                                    <dd><span itemprop="streetAddress">Мира 18А</span></dd>
                                    <dt>Телефон</dt>
                                    <dd><span itemprop="telephone">+7(495)645 6036</span></dd>
                                    <dt>Email</dt>
                                    <dd><a href="mailto:gorodkamer@gmail.com"><span itemprop="email">gorodkamer@gmail.com</span></a></dd>
                                </span>
                            </dl>
                        </div>
                    </div>
                    </div><!-- /magic layout -->
                </div><!-- /app body -->
            </div><!-- /content app -->
    </section><!-- /content main -->
{% endblock %}
