{% extends "base" %}
{% block pagetitle %}Главная страница{% endblock %}
{% block title %}Город камер | Главная | Проект «Безопасный город»{% endblock %}
{% block yaParams %}Главная{% endblock %}
{% block ogtitle %}Город камер | Главная | Проект «Безопасный город»{% endblock %}
{% block description %}Город камер – камеры видеонаблюдения онлайн в Подмосковье. Проект программы «Безопасный город».{% endblock %}
{% block keywords %}город камер, портал, камеры видеонаблюдения, камеры онлайн, камеры города, подмосковье{% endblock %}
{% block toggleaside %}
<div class="header-actions pull-right">
    <a id="toggle-aside" class="btn btn-icon" role="button"><i class="icon ion-navicon-round"></i></a>
</div><!-- /header actions -->
{% endblock %}
{% block selectcity %}
<div class="pull-right" id="select_city">
    <button type="button" class="btn btn-flat btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="icon ion-ios7-refresh-outline"></span>
        <span class="text-date">Выбор города</span>
        <b class="caret"></b>
    </button>
    <div class="daterangepicker dropdown-menu opensright" style="top: 50px">
        <div class="ranges">
            <ul>
                {% for item in city %}
                <li class="city-item" data-city-id="{{ item.id }}">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src='/st/cp/app/js/index.js'></script>
{% endblock %}
{% block content %}
            <!-- app body -->
            <div class="app-body">
            <!-- app content here -->
                <div class="magic-layout"><!-- /magic layout -->
                    <div id="panel-welcome" class="panel panel-default magic-element width-full">
                        <div class="panel-heading">
                            <div class="panel-icon"><i class="icon ion-ios7-information"></i></div>
                            <div class="panel-actions">
                                <div class="btn-group btn-group-xs">
                                    <a role="button" data-collapse="#panel-welcome" title="Свернуть" class="btn btn-sm btn-default">
                                        <i class="icon ion-chevron-down"></i>
                                    </a>
                                </div>
                            </div><!-- /panel-actions -->
                            <h3 class="panel-title">О проекте</h3>
                        </div>
                            <div class="panel-body">
                                <div class="box">
                                <p>Добро пожаловать на «Город камер» – медиапортал в рамках программы «Безопасный город», созданный для
                                    городов Подмосковья!</p>
                                <p>Специально для Вас была разработана уникальная схема слежения, с которой Вы можете ознакомиться ниже.</p>
                                <p>На данный момент партнёрами портала являются г. Жуковский, г. Раменское, г. Балашиха, г. Павловский
                                    посад, г. Электросталь и г. Ногинск.</p>
                                <p>В онлайн-режиме посетителям портала «Город камер» предоставлены данные камер видеонаблюдения, которые
                                    охватывают территорию абсолютного большинства социальных учреждений: больниц, школ, детских садов,
                                    центральных улиц, общественных мест. Форма взаимодействия «зритель/действующее лицо» способствует
                                    сокращению преступности и хулиганства.</p>
                                <p>Возможности и функции портала «Город камер» очень важны как для населения, так и для силовых структур.
                                    Наши намерения - повышение уровня жизни и безопасность жителей Подмосковья! Добро пожаловать!</p>
                                </div><!-- /box -->
                            </div><!-- /panel-body -->
                    </div><!-- /panel-welcome -->

                    <div id="panel-carousel" class="panel panel-default magic-element width-full">
                        <div class="panel-heading">
                            <div class="panel-icon"><i class="icon ion-ios7-star"></i></div>
                            <div class="panel-actions">
                                <div class="btn-group btn-group-xs">
                                    <a role="button" data-collapse="#panel-carousel" title="Свернуть" class="btn btn-sm btn-default">
                                        <i class="icon ion-chevron-down"></i>
                                    </a>
                                </div>
                            </div><!-- /panel-actions -->
                            <h3 class="panel-title">Реклама</h3>
                        </div><!-- /panel-heading -->
                        <div class="panel-body">
                            <div id="carousel-text" class="carousel full-line slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href="http://www.msk.etbank.ru/private/deposits/" target="_blank" title="Энерготрансбанк">
                                            <img alt="Город Камер - Энерготрансбанк" src="/st/img/clientslogo/etb.png">
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="http://www.kedrbor.ru/" target="_blank" title="Компания &laquo;Кедровый Бор">
                                            <img alt="Город Камер - Компания &laquo;Кедровый Бор" src="/st/img/clientslogo/kedrbor.png">
                                        </a>
                                    </div>
                                </div><!-- /carousel-inner -->
                                <a class="left carousel-control" href="#carousel-text" data-slide="prev">
                                    <span class="ion-prev icon ion-ios7-arrow-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-text" data-slide="next">
                                    <span class="ion-next icon ion-ios7-arrow-right"></span>
                                </a>
                            </div><!-- /carousel -->
                        </div><!-- /panel-body -->
                    </div><!-- /panel-carousel -->

                    <div id="panel-news" class="panel panel-default magic-element">
                    <div class="panel-heading">
                        <div class="panel-icon"><i class="icon ion-chatbubble-working"></i></div>
                        <div class="panel-actions">
                            <div class="btn-group btn-group-xs">
                                <a role="button" data-collapse="#panel-news" title="Свернуть" class="btn btn-sm btn-default">
                                    <i class="icon ion-chevron-down"></i>
                                </a>
                            </div>
                        </div><!-- /panel-actions -->
                        <h3 class="panel-title">Свежие новости</h3>
                    </div><!-- /panel-heading -->
                    <div class="panel-body">
                        <!-- list group -->
                        <div class="list-group">
                        {% for item in news %}
                        <li class="list-group-item">
                            <div class="todo-list">
                                <div class="label label-success">{{ item.date|date:'d.m.Y'}}</div>
                                <div class="todo-text">
                                    <h4><a href="/news/sp/{{ item.id }}" title="{{ item.title }}">{{ item.title }}</a></h4>
                                </div>
                            </div>
                            <div class="footer">
                                <a href="/news/sp/{{ item.id }}/" class="btn btn-ion btn-primary pull-right">Читать далее</a>
                                <a href="#" class="btn btn-ion btn-primary" disabled="disabled"><i class="icon ion-social-facebook"></i></a>
                                <a href="#" class="btn btn-ion btn-info" disabled="disabled"><i class="icon ion-social-twitter"></i></a>
                                <a href="#" class="btn btn-ion btn-danger" disabled="disabled"><i class="icon ion-social-googleplus"></i></a>
                            </div><!-- /panel-footer -->
                        </li><!-- /list-group-item -->
                        {% endfor %}
                    </div><!-- /list-group -->
                    </div><!-- /panel body -->
                </div><!-- /panel-news -->

                    <div id="panel-video" class="panel panel-default magic-element">
                    <div class="panel-heading">
                        <div class="panel-icon"><i class="icon ion-eye"></i></div>
                        <div class="panel-actions">
                            <div class="btn-group btn-group-xs">
                                <a role="button" data-collapse="#panel-video" title="Свернуть" class="btn btn-sm btn-default">
                                    <i class="icon ion-chevron-down"></i>
                                </a>
                            </div>
                        </div><!-- /panel-actions -->
                        <h3 class="panel-title"></h3>
                    </div><!-- /panel-heading -->
                    <div class="panel-body">
                        <div id="player_container">
                            <div id="player" align="center">
                                <p align="center">Пожалуйста подождите ...</p>
                            </div><!-- /player -->
                        </div>
                    </div><!-- /panel-body -->
                </div><!-- /panel-video -->

                <div id="panel-map" class="panel panel-default magic-element width-full">
                    <div class="panel-heading">
                        <div class="panel-icon"><i class="icon ion-earth"></i></div>
                        <div class="panel-actions">
                            <div class="btn-group btn-group-xs">
                                <a role="button" data-expand="#panel-map" title="На весь экран" class="btn btn-sm btn-default">
                                    <i class="icon ion-arrow-resize"></i>
                                </a>
                                <a role="button" data-collapse="#panel-map" title="Свернуть" class="btn btn-sm btn-default">
                                    <i class="icon ion-chevron-down"></i>
                                </a>
                            </div>
                        </div><!-- /panel-actions -->
                        <h3 class="panel-title">Обзор камер на карте</h3>
                    </div><!-- /panel-heading -->
                    <div class="panel-body">
                        <div id="map" style="height: 400px"></div>
                    </div><!-- /panel-body -->
                </div><!-- /panel-map -->

                    <div id="panel-carousel2" class="panel panel-default magic-element width-full">
                        <div class="panel-heading">
                            <div class="panel-icon"><i class="icon ion-ios7-star"></i></div>
                            <div class="panel-actions">
                                <div class="btn-group btn-group-xs">
                                    <a role="button" data-collapse="#panel-carousel2" title="Свернуть" class="btn btn-sm btn-default">
                                        <i class="icon ion-chevron-down"></i>
                                    </a>
                                </div>
                            </div><!-- /panel-actions -->
                            <h3 class="panel-title">Реклама</h3>
                        </div><!-- /panel-heading -->
                        <div class="panel-body">
                            <div id="carousel-text2" class="carousel full-line slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href="http://www.msk.etbank.ru/private/deposits/" target="_blank" title="Энерготрансбанк">
                                            <img alt="Город Камер - Энерготрансбанк" src="/st/img/clientslogo/etb.png">
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="http://www.kedrbor.ru/" target="_blank" title="Компания &laquo;Кедровый Бор">
                                            <img alt="Город Камер - Компания &laquo;Кедровый Бор" src="/st/img/clientslogo/kedrbor.png">
                                        </a>
                                    </div>
                                </div><!-- /carousel-inner -->
                                <a class="left carousel-control" href="#carousel-text2" data-slide="prev">
                                    <span class="ion-prev icon ion-ios7-arrow-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-text2" data-slide="next">
                                    <span class="ion-next icon ion-ios7-arrow-right"></span>
                                </a>
                            </div><!-- /carousel -->
                        </div><!-- /panel-body -->
                    </div><!-- /panel-carousel -->

                </div><!-- /magic layout -->
            </div><!-- /app body -->
        </div><!-- /content app -->
    </section><!-- /content main -->
    <section id="content-aside" class="content-aside">
        <!-- your module content -->
        <div class="content-module fixed-header">
            <!-- module header -->
            <div class="module-header">
                <h3 class="module-title">
                    Список камер
                </h3>
            </div><!-- /module header -->

            <!-- module body -->
            <div class="module-body">
                <!-- app module here -->
                <div class="cam-box"></div>
                <div class="panel panel-default magic-element">
                    <button type="button" class="btn btn-ion btn-primary btn-lg btn-block add-cams">Больше камер</button>
                </div>
            </div><!-- /module body -->
        </div><!-- /content module -->
    </section><!-- /content asside -->
{% endblock %}