{% extends "base" %}
{% block title %}Город камер | Смена пароля | Проект «Безопасный город»{% endblock %}
{% block yaParams %}Смена пароля{% endblock %}
{% block ogtitle %}Город камер | Смена пароля | Проект «Безопасный город»{% endblock %}
{% block description %}Город камер – камеры видеонаблюдения онлайн в Подмосковье. Проект программы «Безопасный город».{% endblock %}
{% block keywords %}смена пароля на городе камер, город камер {% endblock %}

{% block content %}
<!-- app body -->
<div class="app-body">
    <!-- app content here -->
    <div class="magic-layout"><!-- /magic layout -->
        <div class="box magic-element width-full">
            <form id="snpass_form" action="{{ request.path }}" method="post" role="form">
                <div class="form-alert"></div>
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="pass" id="pass" placeholder="Введите пароль">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="pass1" id="pass1" placeholder="Повторите пароль">
                </div>
                <br>
                <button type="reset" class="btn btn-ion btn-primary">Сброс</button>
                <button type="submit" class="btn btn-ion btn-success">Сменить</button>
            </form>
        </div><!-- /box -->
    </div><!-- /magic layout -->
</div><!-- /app body -->
</div><!-- /content app -->
</section><!-- /content main -->
{% endblock %}
